:root {
    --main-bg-color: #d9cafe;
    --title: #874efe;
    --main-font-family: monospace;
}

html,
body {
    height: 100%;
    font-family: var(--main-font-family);
    display: flex;
    flex-direction: column;
}

/************ NAVBAR ************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.icon {
    width: 60px;
}

.name, .titletr {
    text-transform: capitalize;
    font-weight: 700;
}
.navMenu {
    text-align: center;
    background-color: var(--main-bg-color);
    width: 100%;
    height: 3em;
    padding: 1em;
    display: flex;   
    align-items: center;
    justify-content: center;
}
.menu{
    align-self: center;  
}

.center{
    text-align: center;
}

.navMenu a {
  
  color: var(--title);
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
    color: #f6f4e6;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/************ END NAVBAR ************/


.container {
    background-color: var(--main-bg-color);
    width: fit-content;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    align-self: center;
    margin-top: 3em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bottom1 {
    margin-bottom: 2em;
}

.top1 {
    margin-top: 2em;
}
.passengerlist {
    display: flex;
    flex-wrap: wrap;
}
.passenger {
background-color: #D5F5E3;
list-style: none;
width: fit-content;
padding: 5px 10px 5px;
margin: 5px;
border-radius: 1em;
}

.dead {
    background-color: #FADBD8;
}

.button {
    background-color: blueviolet;
    border: 1px blueviolet solid;
    padding: 10px;
    border-radius: 1em ;
    color: white;
    text-decoration: none;
    margin-top: 1em;
}

.button:hover {
    background-color: white;
    border: 1px blueviolet solid;
    color: blueviolet;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.button2 {
    background-color: white;
    border: 1px blueviolet solid;
    padding: 10px;
    border-radius: 1em ;
    color: blueviolet;
    text-decoration: none;
    margin-top: 1em;
}

.button2:hover {
    background-color: blueviolet;
    border: 1px blueviolet solid;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


.list {
    display: flex;
    flex-wrap: wrap;
}

.list li {
    list-style: none;
}

.charts, .flex {
    display: flex;
    justify-content: center;
}
.flex h1 {
    margin-right: 2em;
}
.flex p {
    margin-right: 1em;
}
.signup {
    display: flex;
    flex-direction: column;
}

input {
    height: 2em;
    border-radius: 0.5em;
    margin-top: 1em;
}


  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown .button {
      font-size: 1em;
      font-family: monospace;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    font-size: 0.6em;
    font-family: monospace;
    background-color: var(--main-bg-color);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

/******** CHARTS ********/

/**** pie 1 ****/
.pie-chart {
    background:
        radial-gradient(
            circle closest-side,
            white 0,
            white 40.26%,
            transparent 40.26%,
            transparent 66%,
            white 0
        ),
        conic-gradient(
            #3a88fe 0,
            #3a88fe 13.2%,
            #74a7fe 0,
            #74a7fe 18.2%,
            #a8c6fe 0,
            #a8c6fe 31.9%,
            #874efe 0,
            #874efe 58.5%,
            #b18cfe 0,
            #b18cfe 79%,
            #d9cafe 0,
            #d9cafe 100%
    );
    position: relative;
    width: 500px;
    min-height: 350px;
    margin: 0;
    outline: 1px solid #ccc;
}
.pie-chart h2 {
    position: absolute;
    margin: 1rem;
}
.pie-chart figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}
.pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}
/**** pie 2 ****/

.pie-chart-2 {
    background:
        radial-gradient(
            circle closest-side,
            white 0,
            white 40.26%,
            transparent 40.26%,
            transparent 66%,
            white 0
        ),
        conic-gradient(
            #3a88fe 0,
            #3a88fe 14%,
            #74a7fe 0,
            #74a7fe 30.6%,
            #a8c6fe 0,
            #a8c6fe 85.2%,
            #874efe 0,
            #874efe 85.7%,
            #b18cfe 0,
            #b18cfe 86.8%,
            #d9cafe 0,
            #d9cafe 99.9%
    );
    position: relative;
    width: 500px;
    min-height: 350px;
    margin: 0;
    outline: 1px solid #ccc;
}
.pie-chart-2 h2 {
    position: absolute;
    margin: 1rem;
}
.pie-chart-2 figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}
.pie-chart-2 span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}