
<%- include('../partials/header') -%>
   <div class="container">

      <h1>ERROR 404 Not Found</h1>
         <div class="bottom1">
            <h3 class="bottom1">
               This page does not exist.
            </h3> 
            
            <a href="/" class="button">RETURN</a>  
         </div>

   </div>
<%- include('../partials/footer') -%>