
<%- include('../partials/header') -%>
    <div>
        <div class="form-container">
            <form method="POST" class="form-login">
                <label>Nom d'utilisateur</label>
                <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>

                <label>Mot de passe</label>
                <input type="password" placeholder="Entrer le mot de passe" name="password" required>

                <input class="button" type="submit" id='submit' value='LOGIN' >
            </form>
        </div>


    </div>
    <%- include('../partials/footer') -%>