<%- include('../partials/header') -%>
<div class="container">
    <h1> SIGNUP </h1>
 
    <form class="signup" action="/register" method="POST">
        <div class="signup bottom1">
            <label for="username">Choose your username:</label>
            <input type="text" name="username"
            placeholder="username" required="required">
        </div>
        <div class="signup bottom1">
            <label for="username">Choose your password:</label>
            <input type="password" name="password"
            placeholder="password" required="required">
        </div>
        
        <button class="button">SUBMIT</button>
    </form>
</div> 

 
<%- include('../partials/footer') -%>